<div class="container">
    <h1> Panel de Usuarios</h1>
    @if (isActive('/user/list') || isActive('/user')) {
        <mat-tab-group [(selectedIndex)]="index" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Usuarios" routerLink="/user/list">
                <app-list-user/>
            </mat-tab>
            <mat-tab label="Agregar Usuario" routerLink="/user">
                <app-add-user/>
            </mat-tab>
        </mat-tab-group>        
    }
    @else {
        <router-outlet ></router-outlet>
    }
</div>
