table {
  width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: #e0e0e0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  tr.example-detail-row {
    height: 0;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;

  }
  
  td, th {
    width: 25%;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .filtro-fecha-rango__container {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0 0;
  }