<form [formGroup]="dailyRoutineForm">
  <div class="mb-3">
    <label for="days">Días:</label>
    <div>
      <p-multiSelect
        id="days"
        formControlName="days"
        [options]="dayOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar días"
      ></p-multiSelect>
    </div>
    @if (dailyRoutineForm.get('days')?.hasError('required')) {
      <span class="alert alert-danger">
        Seleccione al menos un día.
      </span>
    }
  </div>

  <div class="button__container mb-3">
    <p-button label="Add Workout Specification" severity="primary" (onClick)="addWorkoutSpecification()"></p-button>
  </div>

  <div formArrayName="workoutSpecification" class="workout-specification__container">
    <p-accordion>
      @for (form of workoutSpecifications.controls; track $index) {
        <p-accordionTab [header]="workoutName(form.get('workout')?.value) || ('Workout ' + ($index + 1))">
          <div [formGroupName]="$index" class="main-content-panel">

            <div class="mb-3">
              <p-dropdown
                id="muscularGroupFilter"
                [options]="muscularGroupOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Muscular Group"
                [(ngModel)]="selectedMuscularGroup"
                [ngModelOptions]="{standalone: true}"
                (onChange)="onMuscularGroupChange($event.value)"
              ></p-dropdown>
            </div>

            <div class="mb-3">
              <p-dropdown
                id="muscularLoadFilter"
                [options]="muscularLoadOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Carga Muscular"
                [(ngModel)]="selectedMuscularLoad"
                [ngModelOptions]="{standalone: true}"
                (onChange)="onMuscularLoadChange($event.value)"
              ></p-dropdown>
            </div>

            <div class="mb-3">
              <p-dropdown
                formControlName="workout"
                [options]="workoutOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Workout"
              ></p-dropdown>
            </div>

            <div class="mb-3">
              <p-checkbox formControlName="timeBased" [binary]="true" label="Is Time Based"></p-checkbox>
            </div>

            @if (!form.get('timeBased')?.value) {
              <div class="mb-3">
                <p-floatLabel>
                  <input pInputText id="repsNumber" formControlName="repsNumber" type="number" class="full-width" />
                  <label for="repsNumber">Reps Number</label>
                </p-floatLabel>
              </div>
            } @else {
              <div class="mb-3">
                <p-floatLabel>
                  <input pInputText id="time" formControlName="time" type="number" class="full-width" />
                  <label for="time">Time</label>
                </p-floatLabel>
              </div>
            }

            <div class="mb-3">
              <p-floatLabel>
                <input pInputText id="setsNumber" formControlName="setsNumber" type="number" class="full-width" />
                <label for="setsNumber">Sets Number</label>
              </p-floatLabel>
            </div>

            <div class="mb-3">
              <p-floatLabel>
                <input pInputText id="recommendedWeight" formControlName="recommendedWeight" type="number" class="full-width" />
                <label for="recommendedWeight">Recommended Weight</label>
              </p-floatLabel>
            </div>

            <div class="mb-3">
              <p-floatLabel>
                <input pInputText id="trainerRating" formControlName="trainerRating" type="number" class="full-width" />
                <label for="trainerRating">Trainer Rating</label>
              </p-floatLabel>
            </div>

            <p-button
              label="Delete Panel"
              severity="secondary"
              [disabled]="cantidadEjercicios - 1 === 1"
              (onClick)="removeWorkoutFormGroup($index)"
            ></p-button>

          </div>
        </p-accordionTab>
      }
    </p-accordion>
  </div>
</form>
