.user-details-container {
    display: flex;
    flex-direction: row;
  }
  
  .profile-image-container {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .user-info {
    flex-grow: 1;
  }