<!-- table-seleccionado.component.html -->
<div class="card">
  <div class="filter-input">
    <input pInputText type="text" (input)="applyFilter($event)" placeholder="Filtrar" />
  </div>
  <p-table
    #dt
    [value]="dataSource"
    [(selection)]="selectedRows"
    selectionMode="multiple"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 25, 100]"
    [globalFilterFields]="displayedColumns"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        @for (column of displayedColumns; track $index) {
          @if (column !== 'acciones') {
            <th [pSortableColumn]="column">
              {{ column }}
              <p-sortIcon [field]="column" />
            </th>
          }
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        @for (column of displayedColumns; track $index) {
          @if (column !== 'acciones') {
            <td>{{ row[column] }}</td>
          }
        }
      </tr>
    </ng-template>
  </p-table>
</div>
