/* table.component.scss */

.hoverable:hover{
    background-color: #dedede; /* Cambia este color según tus preferencias */
    cursor: pointer;
  }
  
  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .filter-input{
    padding: 1rem 0;
  }