<!-- table.component.html -->
<div class="card">
  <div class="filter-input">
    <input pInputText type="text" (input)="applyFilter($event)" placeholder="Filtrar" />
  </div>
  <p-table
    #dt
    [value]="dataSource"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 25, 100]"
    [globalFilterFields]="displayedColumns"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (column of displayedColumns; track $index) {
          <th [pSortableColumn]="column !== 'acciones' ? column : ''">
            {{ column }}
            @if (column !== 'acciones') {
              <p-sortIcon [field]="column" />
            }
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr class="hoverable" (click)="filaClickeada(row)">
        @for (column of displayedColumns; track $index) {
          <td>
            @if (column !== 'acciones') {
              @if (row[column] === true) {
                <i class="pi pi-check"></i>
              } @else if (row[column] === false) {
                <i class="pi pi-times"></i>
              } @else {
                {{ row[column] }}
              }
            } @else {
              <p-button
                icon="pi pi-pencil"
                [rounded]="true"
                [text]="true"
                severity="info"
                (click)="editarFila(row); $event.stopPropagation()"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                [rounded]="true"
                [text]="true"
                severity="danger"
                (click)="eliminarFila(row); $event.stopPropagation()"
              ></p-button>
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
