.sidenav-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
}

  .footer {
    
    width: 100%;

    background-color: rgb(221, 148, 13);
    color: rgb(9, 2, 24);
    text-align: center;

    }

.content{
  min-height: 52.2vh
}

.card-sidenav{
  background-color: rgb(228, 227, 223);
  color: rgb(9, 2, 24);
  text-align: center;
  border-radius: 0.3rem;
  padding: 10px;
  margin-right: 10px;
}

.card-sidenav {
  width: 250px; /* Establece el ancho fijo que desees */
}


