
<section>
    <footer class="top">
      <picture>
        <source srcset="../../../assets/new_logo_white.webp 320m" type="image/webp" sizes="(max-width: 320px)">
        <source srcset="../../../assets/new_logo_white.webp 768m" type="image/webp" sizes="(max-width: 768px)">
        <source srcset="../../../assets/new_logo_white.webp 1024m" type="image/webp" sizes="(max-width: 1024px)">

        <img src="../../../assets/new_logo_white.webp" alt="Directus Logo" title="Directus Logo" loading="lazy" decoding="async" width="45%" height="45%">
      </picture>
      <div class="links">
        <div>
          <h2>Platform</h2>
          <a>Directus Core</a>
          <a>Open Data Platform</a>
          <a>Feature List</a>
          <a>Road Map</a>
          <a>Marketplace</a>
        </div>
        <div>
          <h2>Cloud</h2> 
          <a>Dashboard</a>
          <a>Register</a>
          <a>Pricing</a>
          <a>System Status</a>
          <a>Partner Program</a>
        </div>
      </div>
    </footer>
    <footer class="bottom">
      <div class="legal">
        <span> © 2024 All rights reserved </span>
        <a> License </a>
        <a> Terms </a>
        <a> Privacy </a>
      </div>
      <div class="links">
        <a class="fa-brands fa-github"></a>
        <a class="fa-brands fa-linkedin"></a>
        <a class="fa-brands fa-docker"></a>
      </div>
    </footer>
  </section>