.carousel {
  display: flex;
  overflow-x: scroll;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.carousel {
  display: flex;
  overflow-x: hidden;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.workout-specs {
  min-width: 300px; /* Ajusta el tamaño según tus necesidades */
  margin-right: 20px; /* Espacio entre las tarjetas */
}
