<app-card title="Add Muscular Group">
  <form [formGroup]="muscularGroupForm">
    <div class="flex flex-column gap-3 p-3">

      <p-floatLabel>
        <input
          pInputText
          id="name"
          type="text"
          formControlName="name"
          class="w-full"
        />
        <label for="name">Name</label>
      </p-floatLabel>

      <p-button
        label="Add Muscular Group"
        severity="primary"
        (click)="submitForm()"
      />

    </div>
  </form>
</app-card>
