<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" (click)="showNavBar()" aria-label="Example icon-button with menu icon">
     <mat-icon fontIcon="menu">menu</mat-icon>
   </button>
   <!--center-->
    <span class="spacer"></span>
    <mat-icon fontIcon="fitness_center"></mat-icon>
   <span>GYM</span>
   <span class="spacer"></span>
   <!--logout botton-->
    <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with menu icon">
      <mat-icon fontIcon="exit_to_app">exit_to_app</mat-icon>
    </button>
 </mat-toolbar>