<p-toolbar styleClass="toolbar">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-bars"
      (click)="showNavBar()"
      [rounded]="true"
      [text]="true"
      severity="contrast"
    />
  </div>
  <div class="p-toolbar-group-center">
    <i class="pi pi-heart"></i>
    <span>GYM</span>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-sign-out"
      (click)="logout()"
      [rounded]="true"
      [text]="true"
      severity="contrast"
    />
  </div>
</p-toolbar>
